.wrapper {
    margin:10px auto;
    text-align:center;
    padding:2px;
    border:5px solid #290652;
    padding: 5px;
    border-radius: 22px;
    font-size:2rem;
    display:flex;
    width:70%;
    margin-bottom: 45px;
}