.getStartedButton,.out,.hover,.inner{
    top: 0px;
    left: 0px;
}

.out,.hover,.inner{
    position: absolute;
    width: 100%;
    height: 100%;
}

.getStartedButton,.hover,.out{
    border-radius: 3rem;
    text-align: center;
}

.getStartedButton:hover .hover,
.getStartedButton:hover .inner {
    transform: translateX(0);
}

.hover,.inner{
    transition: transform .5s cubic-bezier(.75,0,.25,1);
}

.getStartedButton{
    position: relative;
    display: block;
    overflow: hidden;
    text-decoration: none;
    width: 12rem;
    height: 2.5rem;
    color: snow;
    font-size: 1.1rem;
}

.out{
    border: 2px solid snow;
    line-height: calc(2.5rem - 4px);   
}

.hover{
    overflow: hidden;
    line-height: 2.5rem;
    background-color: snow;
    transform: translateX(-100%);
}

.inner{
    color: #3473a0;
    transform: translateX(100%);
}