.pacBackground{
    height: 100%;
    background-image: url("./../../images/galaxy.jpg");
    background-size: contain;
    background-position: center;
    background-color: black;
}

.gridContainer{
    position: relative;
    display: flex;
    width: 80%;
    overflow: hidden;
    margin: auto;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.gridLine{
    width: 100%;
    height: calc(100% / 27);
    margin: 0px;
    display: flex;
    justify-content: center;
}


.pacCreatureWrapper{
    position: absolute;
    transition: all 0.2s;
    transition-delay: 0s;
    width: calc(100% / 21);
    height: calc(100% / 27);
    display: grid;
    place-items: center;
}

.pacChomperOpen,
.pacChomperClosed,
.pacGrubber{
    transition: all 0.2s;
    transition-delay: 0s;
    border-radius: 50%;
    background-color: yellow;
    width: 30px;
    height: 30px;
}

.pacChomperOpen{
    clip-path: polygon(100% 0, 100% 17%, 44% 53%, 100% 83%, 100% 100%, 0 100%, 0 0);
}

.pacGrubber{
    clip-path: polygon(14% 9%, 52% 0, 89% 12%, 100% 70%, 83% 100%, 65% 82%, 52% 100%, 37% 84%, 20% 100%, 0 68%);
}

.pacGrubber0{
    background-color: teal;
}

.pacGrubber1{
    background-color: red;
}