
.gameBackground{
    position:relative;
    width:80%;
    border-radius: 22px;
    margin-right: 10px;
    overflow: hidden;
    background-color:green;
    display:flex;
    flex-wrap:wrap;
}

.arrowContainer{
    display:flex;
    flex-wrap:wrap;
    font-weight: 700;
    width: 100%;
    line-height: 40px;
    color:white;
    text-align: center;
}
.arrowBox{
    width:33%;
    border-radius: 5px;
    height:40px;
    display:block;
}

.gameSquare{
    border-radius:10px;
    display:block;
    width:5%;
    height:5%;
}

.button{
    color: snow;
    background-color: #230f6e;
    font-size: 2rem;
    outline: snow;
    border: 2px solid snow;
    width: 80%;
    padding: 0px 8px;
}

.greyFilter{
    background-color: #6344d4;
    filter: grayscale(100%);
}

.gameInfo{
    width: 100%;
}

.backGreen{
    background-color: green;
}
.backRed{
    background-color: red;
}
.backBlue{
    background-color: blue;
}
.backOrange{
    background-color: orange;
}
.backBrown{
    background-color: brown;
}
.backSnow{
    background-color: snow;
}
.backBlack{
    background-color: black;
}
.backGray{
    background-color: gray;
}

