.header{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: snow;
    font-size: 3rem;
}

.heroTitle{
    font-weight: 400;
    margin: 0px;
    padding: 0 1em;
    letter-spacing: 0.2ch;
}

.heroDesc{
    font-weight: 300;
    margin: 0px;
    padding: 0 1em;
    font-size: 0.7em;
}

.sideFlex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.margTop{
    margin-top:1rem
}

.sideFlex > * {
    margin: 2rem;
}